.main-nav__list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 815px;
  //list-reset
  margin: 0;
  margin-right: 40px;
  padding-left: 0;
  list-style: none;
}

.main-nav__toggle {
  display: none;
}

.main-nav__item {
  margin-left: 30px;
  padding: 5px;
  font-weight: 500;
  text-align: center;

  @include text-size(14px, 1.21);
}

.main-nav__link {
  color: inherit;
}

@media (max-width: $tablet-width) {
  .main-nav__toggle {
    display: block;
  }

  .main-nav__list {
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    min-height: 568px;
    margin-right: 0;
  }

  .main-nav__item {
    margin-left: 0;
    margin-bottom: 27px;
    padding: 0;
  }

  .main-nav__link {
    position: relative;
    display: block;
    padding: 17px;

    @include text-size(20px, 1.4);
    text-align: left;
    font-weight: $medium;
    color: #48494d;
    background-color: $light;

    &::after {
      content: "";
      position: absolute;
      top: 27px;
      right: 25px;
      width: 9px;
      height: 9px;
      border: solid $dark;
      opacity: 0.5;
      border-width: 0 3px 3px 0;
      transform: rotate(-45deg);
    }
  }
}
