@mixin font-regular {
  font-famili: $font-main;
  font-weight: 400;
}

@mixin font-medium {
  font-family: $font-main;
  font-weight: 500;
}

@mixin font-semibold {
  font-family: $font-main;
  font-weight: 600;
}

@mixin text-size($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}
