$font-main: "Montserrat",
"Tahoma",
sans-serif;
$font-dark: #141517;

$text-main: rgba(44, 46, 63, 0.7);

$tablet-width: 768px;
$mobile-width: 320px;
$mobile-width-only: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
